.b-popover {
  background-color: $body-bg;
  border: 1px solid $blue;
  max-width: $sm;

  .arrow {
    &::after,
    &::before {
      // border-color: transparent transparent $blue !important;
      display: none;
    }
  }

  .popover-body {
    padding: 0;
    min-width: 200px;
  }
}
