html,
body {
  @media (min-width: $lg) {
    font-size: 1.125rem;
  }

  @media (min-width: $xxl) {
    font-size: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vh {
  min-height: 100vh;
}

.item-mb-1 {
  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}
